<link rel="stylesheet" href="/css/recipeList.css">
<link rel="stylesheet" href="/css/searchpage.css">
<section id="searchbar">
    <h4>Search for your favorite food in DATABASE</h4>
    <!-- link modify later -->
    <form action="/search" method="get">
        <input id="searchbox" type="text" name="name" value="">
        <input type="submit" value="Search">
    </form>
</section>
<!-- navigation holder -->
<div class="holder">
</div>

<!-- item container -->
<section id="searchresult">
    <div id="searchbody">
        <p>{{data.length}} matching results for {{req.body}}</p>
        <ul id="itemContainer">
            {{#each data }}
            <li>
                <img src={{imageurl}} alt="image">
                <h6>{{recipe_name}}</h6>
                <p>Created by: {{username}}</p>
                <p>Cooking Time: {{time_taken}} mins</p>
                <p>tag: {{tags}}</p>
                <a class="learnmore" href="/search/recipe?id={{id}}">Learn More</a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<script type="text/javascript">
    $("div.holder").jPages({
        containerID: "itemContainer",
        perPage: 3,
        startPage: 1,
        startRange: 5,
        midRange: 5,
        endRange: 5
    });
</script>