<link rel="stylesheet" href="/css/recipeList.css">

<body style="background-color:#00334d;">
    {{>searchbar}}
    <!-- navigation holder -->
    <div class="holder">
    </div>

    <!-- item container -->
    <div id="itemContainer">
        <p>{{data.length}} matching results for</p>
        <ul id="clearfix" class="items">
            {{#each data}}
            <li style="display: inline-block;">
                <div id="settingcard">
                    <img src={{imageurl}} alt="image">
                    <div class="context">
                        <p class="title"><span>{{recipe_name}}</span></p>
                        <p class="users">Created by: <span>{{username}}</span></p>
                        <p class="tags">Tags: <span>{{tags}}</span></p>
                        <p class="time">Cooking Time: <span>{{time_taken}} mins</span></p>
                        <a class="learnmore" href="/search/recipe?id={{id}}">Learn More</a>
                    </div>
            </li>
            {{/each}}
        </ul>
    </div>
</body>

<script type="text/javascript">
    $("div.holder").jPages({
        containerID: "clearfix",
        perPage: 4,
        startPage: 1,
        startRange: 5,
        midRange: 5,
        endRange: 5
    });
</script>