<link rel="stylesheet" href="/css/recipeList.css" />

<body style="background-color:#00e6ac;">
    {{>searchbar}}
    <!-- navigation holder -->
    <div class="holder">
    </div>

    <!-- item container -->
    <div id="setcoloronly">
        <div id="itemContainer">
            <ul id="clearfix" class="items">
                {{#each obj}}
                <li style="display: inline-block;">
                    <div id="settingcard">
                        <img src=https://spoonacular.com/recipeImages/{{image}} alt="image">
                        <div class="context">
                            <p class="title"><span>{{title}}</span></p>
                            {{#if readyInMinutes}}
                            <p class="time">Cooking Time: <span>{{readyInMinutes}} </span><span> mins</span></p>
                            {{else}}
                            <p class="time">Cooking Time: <span> --- </span></p>
                            {{/if}}
                            <a class="learnmore" href="/searchByAPI/recipe?id={{id}}">Learn More</a>
                        </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

<script type="text/javascript">
    $("div.holder").jPages({
        containerID: "clearfix",
        perPage: 4,
        startPage: 1,
        startRange: 5,
        midRange: 5,
        endRange: 5
    });
</script>