<link rel="stylesheet" href="/css/recipe.css" />

<body>
<section id="recipe">
    <div id="imagine" class="need-flex-start">
        <img src="{{data.basicInfo.imageurl}}">
    </div>
    <div id="blockone">
        <h5>{{data.basicInfo.recipe_name}}</h5>
        {{#if data.baseInfo.username}}
        <h6>Made by: {{data.basicInfo.username}}</h6>
        {{else}}
        <h6>Made by: ---- </h6>
        {{/if}}
        <h6>Time taken: {{data.basicInfo.time_taken}} mins</h6>
        <div class="row">
            <div id="rating" class="col-md-12 col-sm-12 com-12">
                <div class="star">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div>
            </div>
        </div>
    </div>

    <div id="blocktwo">
        <div class="row">
            <div id="context" class="col-md-10 col-sm-12 com-12">
                <div id="ingredient">
                    <h6>Ingredient:</h6>
                    {{#each data.ingredientInfo}}
                    <p>{{ingredient_name}} x {{amount}} {{measure_name}}</p>
                    {{/each}}
                </div>

                <div id="direction">
                    <h6>Direction:</h6>
                    <p>{{data.basicInfo.instructions}}</p>
                </div>
            </div>
            <div id="buttom" class="col-md-2">
                <form action="/sth" method="POST">
                    <input type="submit" value="Comment">
                </form>
                <form action="/sth" method="POST">
                    <input type="submit" value="Share">
                </form>
                <form action="/saveRecipe" method="POST">
                    <input type="submit" value="Favourite">
                </form>
                <form action="/recipe" method="POST">
                    <input type="submit" value="I made it!">
                </form>
            </div>
        </div>
    </div>

    <div id="blockthree">
        <h6>Comment:</h6>
        <div id="commentblock" class="row">
            <div id="commentprofile" class="col-md-3 col-sm-12 col-12">
                <p>Williamyukwa</p>
                <img src="/assets/001.png" width="50px" height="50px">
                <form>
                    <input id="viewpro" type="submit" value="View Profile">
                </form>
            </div>
            <div id="commentcontext" class="col-md-9 col-sm-12 col-12">
                <p> comment anything herecomment anything herecomment anything herecomment anything herecomment
                    anything here</p>
            </div>
        </div>
        <div id="commentblock" class="row">
            <div id="commentprofile" class="col-md-3 col-sm-12 col-12">
                <p>Williamyukwa</p>
                <img src="/assets/001.png" width="50px" height="50px">
                <form>
                    <input id="viewpro" type="submit" value="View Profile">
                </form>
            </div>
            <div id="commentcontext" class="col-md-9 col-sm-12 col-12">
                <p> comment anything herecomment anything herecomment anything herecomment anything herecomment
                    anything here</p>
            </div>
        </div>
    </div>
</section>
</body>